# Python básico: listas, tuplas, diccionarios y conjuntos

## [Listas]
Una lista es un arreglo ordenado de elementos. Se define por valores separados por coma y encerrados por dos corchetes (`[]`)

In [1]:
materias = ["CALCULO", "FINANZAS", "OPTIMIZACION", "GEOMETRIA", "PROGRAMACION", "ESTADISTICA"]
type(materias)

list

In [2]:
materias

['CALCULO',
 'FINANZAS',
 'OPTIMIZACION',
 'GEOMETRIA',
 'PROGRAMACION',
 'ESTADISTICA']

### Subconjuntos:
En una lista, al igual que con string (una sequencia ordenada de carácteres), accedemos a los valores de una lista usando la misma notación de corchetes.

In [5]:
print(materias[4])
print(materias[:3])
print(materias[3:])
print(materias[3:5])
print(materias[:])

PROGRAMACION
['CALCULO', 'FINANZAS', 'OPTIMIZACION']
['GEOMETRIA', 'PROGRAMACION', 'ESTADISTICA']
['GEOMETRIA', 'PROGRAMACION']
['CALCULO', 'FINANZAS', 'OPTIMIZACION', 'GEOMETRIA', 'PROGRAMACION', 'ESTADISTICA']

**Número de elementos**  
Por medio de la función `len` podemos conocer el número de elementos dentro de una lista.

In [6]:
len(materias)

6

**Suma de elementos**  
Otra de las funciones incluidas en Python es `sum`, sobre la cuál podemos sumar todos los elementos de la lista

In [7]:
numeros = [5,3,2,7,8,11]
resultado = sum(numeros)
print(resultado)

36

**Ordenar elementos**  
Una más de las funciones incluidas en Python es `sorted`, sobre la cuál podemos ordenar todos los elementos de la lista

In [8]:
numeros = [5,3,2,7,8,11]
print(f"la lista {numeros} queda ordenada de la siguiente manera {sorted(numeros)}")

la lista [5, 3, 2, 7, 8, 11] queda ordenada de la siguiente manera [2, 3, 5, 7, 8, 11]

## Índices
A diferencia de un `str`, un `list` nos permite obtener, asignar, reemplazar y eliminar valores dentro de una lista.

In [9]:
numeros = [5,3,2,7,8,11]
#Imprime el primer elemento de la lista
print(numeros[0])
#Asigna un nuevo valor al primer elemento de la lista
numeros[0] = 10
print(numeros[0])

5
10

In [10]:
numeros = [5,3,2,7,8,11]
# Eliminamos del segundo al tercer elemento
print(numeros)
numeros[1:3] = []
print(numeros)

[5, 3, 2, 7, 8, 11]
[5, 7, 8, 11]

### Estructura:
Las listas pueden agrupar cualquier tipo de objeto

In [11]:
pi = 3.14159
["e", pi, ["alpha", "beta", "gamma"], True]

['e', 3.14159, ['alpha', 'beta', 'gamma'], True]

### Concatenar dos listas

In [12]:
matematicos = ["Gauss", "Fermat", "Spivak ", "Oksendal"]
fisicos = ["Newton", "Einstein", "Maxwell"]

cientificos = matematicos + fisicos
print(cientificos)

['Gauss', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']

### Copiar una lista
Cada elemento en python lo identifica un único `id`.

In [13]:
id(cientificos)

136290161407104

Al asignar una variable a una lista existente "apunta" al mismo `id`

In [14]:
cientificos2 = cientificos
print(id(cientificos),id(cientificos2))

136290161407104 136290161407104

Cualquier modificación a `cientificos2` afectará a `cientificos`

In [15]:
print(cientificos)
#Modificamos cientificos2
cientificos2[0] = "Fleming"
#Imprimimos cientificos
print(cientificos)

['Gauss', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']
['Fleming', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']

Para obtener una copia de la lista, usar [:]

In [16]:
cientificos3 = cientificos[:]
cientificos4 = cientificos.copy()
print(id(cientificos))
print(id(cientificos3))
print(id(cientificos4))

136290161407104
136289674489920
136289674482560

In [17]:
cientificos3[0] = "Leibniz"
print("lista 'rates3':", cientificos3, "", sep="\n")
print("lista 'rates':", cientificos, sep="\n")

lista 'rates3':
['Leibniz', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']

lista 'rates':
['Fleming', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']

### Métodos de una `lista`
Al igual que los strings, las listas contienen métodos (funciones definidas para una sola clase)

In [18]:
materias = ['ALGEBRA', 'GEOMETRIA', 'PROGRAMACION', 'ESTADISTICA']
print(materias)
#invertimos la lista
materias.reverse()
print(materias)

['ALGEBRA', 'GEOMETRIA', 'PROGRAMACION', 'ESTADISTICA']
['ESTADISTICA', 'PROGRAMACION', 'GEOMETRIA', 'ALGEBRA']

Agregando elementos a una lista

In [19]:
materias.append("FINANZAS")
print(materias)

['ESTADISTICA', 'PROGRAMACION', 'GEOMETRIA', 'ALGEBRA', 'FINANZAS']

In [20]:
# Insertar 'álgebra superior' en la segunda posición
materias.insert(1, "ALGEBRA SUPERIOR")
print(materias)

['ESTADISTICA', 'ALGEBRA SUPERIOR', 'PROGRAMACION', 'GEOMETRIA', 'ALGEBRA', 'FINANZAS']

In [21]:
#Obtener el índice de un elemento
materias.index("GEOMETRIA")

3

Algunos métodos modifican la lista original

In [22]:
#Ordena los elementos
materias.sort()
print(materias)

['ALGEBRA', 'ALGEBRA SUPERIOR', 'ESTADISTICA', 'FINANZAS', 'GEOMETRIA', 'PROGRAMACION']

In [23]:
# list.pop: Obten último elemento y elimínalo de la lista
extraccion = materias.pop()
print(materias)
print(extraccion)

['ALGEBRA', 'ALGEBRA SUPERIOR', 'ESTADISTICA', 'FINANZAS', 'GEOMETRIA']
PROGRAMACION

### Cadenas (*strings*) `str` y Listas `list`
Los strings contienen métodos cuyos resultados o argumentos contienen listas

### *Split*: de str a list

In [24]:
# *Split*: de str a list
"Este es un string".split()

['Este', 'es', 'un', 'string']

### *join* de list a str

In [27]:
# *join* de list a str
" ".join(["Esta", "es", "una", "lista"])

'Esta es una lista'

<h2 style="color:#B22222"> Ejercicios </h2>

1. Considera la lista `numeros0` y cálcula el valor promedio
```python
numeros0 = [1, 1, 2, 3, 5, 8, 13]
```
2. Considera la lista `numeros1` y cálcula la suma del primer, último y el número en medio de la lista (**nota:** El número de elementos en la lista es impar)
```python
numeros1 = [0, 7, 20, 11, 1, 17, 4, 13, 9, 0, 12, 18, 5, 10, 8, 0, 10, 6, 19, 19, 10, 9, 4, 4, 18, 18, 0]
```
3. Crea un programa que le pida al usuario una serie de números separados por un espacio `" "` y regrese la suma de todos los valores.
4. Considerando `list1`, reemplaza cada elemento `"a"` por `"*"`.
```python
list1 = ["a", "b", "a", "d", "a", "a", "c"]
```

In [28]:
#Solución Ej 1
numeros0 = [1, 1, 2, 3, 5, 8, 13]
suma = sum(numeros0)
promedio = suma/len(numeros0)
print(f"La suma de la lista {numeros0} es {suma}")
print(f"El promedio de la lista {numeros0} es {promedio}")

La suma de la lista [1, 1, 2, 3, 5, 8, 13] es 33
El promedio de la lista [1, 1, 2, 3, 5, 8, 13] es 4.714285714285714

In [30]:
#Solución Ej 2
numeros1 = [1, 7, 20, 11, 1, 17, 4, 13, 9, 0, 12, 18, 5, 10, 8, 0, 10, 6, 19, 19, 10, 9, 4, 4, 18, 18, 2]
primero = numeros1[0]
ultimo =  numeros1[-1]
print(primero,ultimo)
posicionmedia = int(len(numeros1) / 2)
print(posicionmedia)
medio = numeros1[posicionmedia]
print(medio)
print("La suma es: ",primero+medio+ultimo)

1 2
13
10
La suma es:  13

In [34]:
#Solución Ej 3
listanumeros = input("Dame la lista de números separados con espacio:")
print(listanumeros)
lista = listanumeros.split()
print(lista)
#Usaremos map para resolverlo
lista2 = list(map(int,lista))
print(lista2)
print(f" La suma de la lista {lista2} es {sum(lista2)}")

Dame la lista de números separados con espacio:2 4 6 8 10
2 4 6 8 10
['2', '4', '6', '8', '10']
[2, 4, 6, 8, 10]
 La suma de la lista [2, 4, 6, 8, 10] es 30

In [35]:
#Solución Ej 4
list1 = ["a", "b", "a", "d", "a", "a", "c"]
print(list1)
cadena = " ".join(list1)
print(cadena)
cadena = cadena.replace("a","*")
print(cadena)
list1 = cadena.split()
print(list1)

['a', 'b', 'a', 'd', 'a', 'a', 'c']
a b a d a a c
* b * d * * c
['*', 'b', '*', 'd', '*', '*', 'c']

# (Tuplas)
Una tupla es una colección de objetos ordenados que encierra sus elementos con paréntesis () y los separa con comas. Las tuplas son muy similares a las listas, y pueden almacenar objetos de tipo distinto como enteros y *strings* entre otros. Sin embargo, al contrario que las listas presentan la propiedad de **inmutabilidad**. Esto implica que **los elementos de una tupla no pueden reasignarse (modificarse)**. El siguiente ejemplo ilustra estos dos conceptos

In [36]:
materias = ("CALCULO", "FINANZAS", "OPTIMIZACION", "GEOMETRIA", "PROGRAMACION", "ESTADISTICA")
otratupla = (1,"dos",3)
print(type(materias))
print(type(otratupla))

<class 'tuple'>
<class 'tuple'>

### Propiedades de una *tupla*:

In [37]:
print(materias[0])
print(otratupla[1])

CALCULO
dos

In [38]:
materias[0] = "PROBABILIDAD" #Nos marcará error pues una tupla es inmutable

TypeError: 'tuple' object does not support item assignment

### ¿Por qué usar *tuplas*?
A pesar de todas sus similitudes, existen diferentes motivos por los cuales optar por una tupla y no una lista::

* Manipular tuplas agiliza la ejecución del programa en comparación con una lista equivalente (aunque esta diferencia no sea apreciable con tamaños pequeños de listas o tuplas).
* Cuando quieres que los datos sean constantes durante toda la ejecución del programa y no puedan modificarse accidentalmente.
* En los diccionarios el objeto de una clave tiene que ser inmutable, por tanto puede ser una tupla pero no una lista.

### Empaquetar y desempaquetar una tupla
Las tuplas también pueden declararse sin necesidad de usar paréntesis. Cual sea el caso, la declaración de una tupla también se le denomina «empaquetar» la tupla (*tuple packing en inglés*), ya que todos sus elementos quedan asociados a un solo objeto.

In [43]:
 #Las tuplas pueden declararse sin los paréntesis
 t = 'uno', 'dos', 'tres', 'cuatro'
 print(type(t))
 print(t)
 _,b,c,d = t
 #print(a)
 print(b)
 print(c)
 print(d)

<class 'tuple'>
('uno', 'dos', 'tres', 'cuatro')
dos
tres
cuatro

En el caso tuplas con un solo elemento hay que añadir una coma para que el intérprete de Python lo considere una tupla.

In [45]:
t = 1
print(type(t))
t = 1,
print(type(t))
print(t)

<class 'int'>
<class 'tuple'>
(1,)

Al paso inverso se le denomina «desempaquetar» la tupla (*tuple unpacking* en inglés), ya que los elementos de la tupla se copian en objetos distintos.

In [46]:
#Brujería
t = ('Belinda', '31', 'Cantante', 'México')
nombre,edad,profesion,pais = t
print(f"Nombre: {nombre} \nEdad: {edad}\nProfesión: {profesion}\nPaís donde radica: {pais}")

Nombre: Belinda
Edad: 31
Profesión: Cantante
País donde radica: México

El número de objetos declarados para «desempaquetar» la tupla tiene que coincidir con el número de elementos de la tupla, ya que en caso contrario el intérprete lanza un error del tipo ValueError.

### Métodos de las tuplas
Las tuplas cuentan con dos métodos:

**t.count(x)** : cuenta el número de veces que el elemento x está en la tupla t.
```
t.count(x)
```

In [47]:
t = (1, 1, 2, 3)
print(t.count(1))

2

t.index(x) : retorna el índice más pequeño del elemento x en la tupla t.


```
t.index(x)
```

In [50]:
t = (1, 1, 2, 3)
print(t.index(1))

0

### Conversión entre listas y tuplas
La conversión entre estos dos tipos de objetos es muy sencilla. Si queremos convertir una lista en una tupla tenemos que usar declarar la tupla pasandole la lista en el constructor.

In [51]:
 lista = [1, 2, 3, 4]
 tupla = tuple(lista)
 print(tupla)

(1, 2, 3, 4)

El paso inverso es equivalente, pero pasándole la tupla al constructor de la lista.

In [52]:
 tupla = (1, 2, 3, 4)
 lista = list(tupla)
 print(lista)

[1, 2, 3, 4]

# {Diccionaries: Values}
Hasta el momento hemos visto colecciones de elementos ordenados por un único índice numérico. Ahora veremos otra clase de objetos, los **diccionarios**, los cuáles son listas asociativas indexadas por llave; no por orden.

La sintáxis de un diccionario:
```python
{llave1: valor1,
 llave2: valor2,
 ...
 llaven: valorn}
```

Los diccionarios almacenan pares de objetos clave-valor. En contraste con las listas, los diccionarios no garantizan que se mantenga el orden en que sus objetos han sido almacenados. Además, en un diccionario el acceso a un objeto se realiza indicando la clave de ese objeto. Este es otro elemento diferenciador entre diccionarios y listas, donde el acceso a los objetos se realiza indicando la posición que ocupan. Los diccionarios utilizan llaves ({}) para encerrar a sus elementos, y dos puntos (:) para indicar las claves y sus valores asociados.

In [53]:
diccionario = {'clave1':'valor1', 'clave2':'valor2'}
print(type(diccionario))

<class 'dict'>

In [55]:
#Longitud (número de elementos) del diccionario
print(len(diccionario))
print(diccionario)

2
{'clave1': 'valor1', 'clave2': 'valor2'}

## Tipos de clave-valor permitidos.
Los diccionarios pueden tratar con prácticamente cualquier tipo de dato y existen muy pocas restricciones en cuanto a las claves y valores que se pueden utilizar. Estas restricciones son las siguientes:

* **Claves**: no puede haber claves duplicadas y éstas tienen que ser objetos inmutables.
* **Valores**: no existe ninguna restricción en cuanto a los tipos de datos.

En el siguiente ejemplo vemos un diccionario con claves de distinto tipo: string, número entero, número en coma flotante, e incluso booleano. Así mismo el valor que se toma para las claves repetidas es el último que se ha definido. Es por ello que el valor asociado a la clave «2» es False.

In [56]:
diccionario = {'clave1':'valor1', 2:2.5, 3.1:3, True:['a','b','c'], 2:False}
print(diccionario)

{'clave1': 'valor1', 2: False, 3.1: 3, True: ['a', 'b', 'c']}

## Acceder y modificar los objetos de un diccionario
Para acceder a un objeto determinado de un diccionario tenemos que indicar entre corchetes el nombre de su clave. De modo muy similar podemos modificar el valor de una clave asignándole un nuevo valor mediante el signo igual (=). Además, también podemos añadir un nuevo par clave-valor indicando simplemente el nombre de la clave a añadir. Estas operaciones se ilustran en el siguiente bloque de código donde:
* i) accedemos al precio de las manzanas,
* ii) modificamos el precio de las manzanas y
* iii) añadimos el precio del agua al diccionario de precios.

In [57]:
precios = {'pasta':0.9, 'patatas':2.55, 'manzanas':0.35}
#Accedemos al precio de las manzanas
print("El precio de las manzanas es: ",precios['manzanas'])
#Cambiamos el precio de las manzanas
precios['manzanas'] = 0.29
print("El precio de las manzanas es: ",precios['manzanas'])
#Añadimos el precio del agua al diccionario
precios["agua"] = 1.50
print(precios)

El precio de las manzanas es:  0.35
El precio de las manzanas es:  0.29
{'pasta': 0.9, 'patatas': 2.55, 'manzanas': 0.29, 'agua': 1.5}

## Métodos comunes de los diccionarios

En este apartado vemos algunos de los métodos más útiles para manipular diccionarios.
* **d.keys()**: devuelve una lista que contiene las llaves del diccionario.

In [58]:
 capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
 print(list(capitales.keys()))

['Inglaterra', 'Francia', 'Italia']

* **d.values()**: devuelve una lista que contiene los valores del diccionario.

In [59]:
 capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
 print(list(capitales.values()))

['Londres', 'Paris', 'Roma']

* **d.clear()**: elimina todos los elementos del diccionario.

In [60]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
capitales.clear()
print(capitales)

{}

* **d.get(clave, valor_por_defecto)**: devuelve el valor de la clave indicada en caso que ésta exista. En caso contrario devuelve el valor por defecto.

In [62]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
capital = capitales.get('Nepal', 'Desconocida')
print(capital)

Desconocida

* **d.pop(clave, valor_por_defecto)**: elimina la clave indicada y devuelve su valor. En caso que el diccionario no contenga la clave especificada, retorna el valor por defecto.

In [63]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
capital = capitales.pop('Francia')
print(capital)
print(capitales)
capital = capitales.pop('Alemania', 'Berlin')
print(capital)

Paris
{'Inglaterra': 'Londres', 'Italia': 'Roma'}
Berlin

* **d.items()**: devuelve una lista de tuplas con dos elementos. Primero la llave y segundo los valores.

In [64]:
alumnos = {
    "José":    [11, "rojo", "Administración"],
    "Charlie": [33, "Violeta", "Ingeniería"],
    "Luis": [23, "Negro", "Matemáticas"],
    "Johanna": [18, "Gris", "Finanzas"]
}
print("Diccionario:", alumnos,"\n")
#Lista con las tuplas
listatup = list(alumnos.items())
print(listatup)

Diccionario: {'José': [11, 'rojo', 'Administración'], 'Charlie': [33, 'Violeta', 'Ingeniería'], 'Luis': [23, 'Negro', 'Matemáticas'], 'Johanna': [18, 'Gris', 'Finanzas']}

[('José', [11, 'rojo', 'Administración']), ('Charlie', [33, 'Violeta', 'Ingeniería']), ('Luis', [23, 'Negro', 'Matemáticas']), ('Johanna', [18, 'Gris', 'Finanzas'])]

In [ ]:
llave,datos = listatup[0]
print(llave)
print(datos)

## {Conjuntos} o {Sets}

Un `set` (conjunto) es una colección no ordenada de valores únicos. Para dos conjuntos `A`, `B` y valores `a` dentro de `A` y `b` dentro de `B`, se cumplen con las siguientes características
* `A & B` (Intersección): Elementos en `A` y en `B`
* `A | B` (Unión): Elementos en `A` o en `B`
* `A - B` (Diferencia): Elementos en `A` no presentes en `B`
* `A ^ B` (Diferencia Simétrica): Elementos en cualquiera de los conjuntos `A` o `B`, mas no en los dos.
* `A <= B` (Subconjunto): Prueba si todos los elementos en `A` se encuentran dentro de `B`
* `A >= B` (Superconjunto): Prueba si todos los elementos en `B` se encuentran dentro de `A`

In [65]:
vocales = {'a', 'e', 'i', 'o', 'u'}
p1 = {'c', 'a', 'r', 'r', 'o'}

In [66]:
p1 & vocales

{'a', 'o'}

In [67]:
p1 | vocales

{'a', 'c', 'e', 'i', 'o', 'r', 'u'}

In [68]:
p1 - vocales

{'c', 'r'}

In [69]:
p1 ^ vocales

{'c', 'e', 'i', 'r', 'u'}

In [70]:
len(p1)

4

<h2 style="color:#B22222"> Ejercicios </h2>

1. Dado el diccionario `vocales`, accede al primer elemento dentro de la llave `"minusculas"`
```python
vocales = {
    "mayusculas": ['A', 'E', 'I', 'O', 'U'],
    "minusculas": ['a', 'e', 'i', 'o', 'u']
}
```
2. Modifica el diccionario `alumnos` de tal manera que cada llave del diccionario sea el nombre del estudiante y el valor un diccionario adicional con las llaves `"edad"`, `"color_favorito"`, `"carrera"`, asignados a sus valores correspondientes.
3. ¿Cuál es la longitud del set `{'q', 'u', 'e', 'u', 'e'}`? Explica.
4. Considerando los conjuntos `investor1`, `investor2` e `investor3`
    * Encuentra todas las acciones que `investor1`, `investor2`, `investor3` e `investor4` tienen en conjunto
    * Encuentra las acciones que `investor1`, `investor3` e `investor4` tienen en común

```python
investor1 = {'HOTEL', 'CHDRAUI', 'ALPEK', 'VISTA', 'MFRISCO', 'AHMSA', 'LAB', 'SPORT', 'SAVIA', 'LASEG'}
investor2 = {'CMOCTEZ', 'BEVIDES', 'OMA', 'GNP', 'AGRIEXP', 'SPORT', 'TRAXION', 'GENTERA', 'COLLADO', 'LAMOSA'}
investor3 = {'FEMSA', 'ALSEA', 'BIMBO', 'ELEMENT', 'FINAMEX', 'GCC', 'VISTA', 'GEO', 'IENOVA', 'OMA', 'CADU', 'ANB', 'AUTLAN', 'GICSA', 'GFNORTE', 'IDEAL', 'MEXCHEM', 'ELEKTRA', 'SITES', 'CABLE'}
investor4 = {'GENTERA', 'BOLSA', 'VISTA', 'TEAK', 'ACCELSA', 'CUERVO', 'TEKCHEM', 'QBINDUS', 'MEDICA', 'URBI', 'CIE', 'NEMAK', 'KIMBER', 'GPH', 'GMD', 'ACTINVR', 'GAP', 'JAVER', 'INGEAL', 'ARA'}
```

In [71]:
#Ejercicio 1
vocales = {
 "mayusculas": ['A', 'E', 'I', 'O', 'U'],
 "minusculas": ['a', 'e', 'i', 'o', 'u']
}
valores = vocales["minusculas"]
print(valores)
print(valores[0])

['a', 'e', 'i', 'o', 'u']
a

In [72]:
#Ejercicio 2
# "edad", "color_favorito", "carrera"
alumnos = {
    "José":    {"edad":11, "color_favorito":"rojo", "carrera":"Administración"},
    "Charlie": {"edad":33, "color_favorito":"Violeta", "carrera":"Ingeniería"},
    "Luis": {"edad":23, "color_favorito":"Negro", "carrera":"Matemáticas"},
    "Johanna": {"edad":18, "color_favorito":"Gris", "carrera":"Finanzas"}
}

dicc = alumnos["Luis"]
print(type(dicc))
print(dicc)

<class 'dict'>
{'edad': 23, 'color_favorito': 'Negro', 'carrera': 'Matemáticas'}

In [73]:
#Ejercicio 3

conjunto = {'q', 'u', 'e', 'u', 'e'}
print(len(conjunto))

3

In [74]:
#Ejercicio 4
investor1 = {'HOTEL', 'CHDRAUI', 'ALPEK', 'VISTA', 'MFRISCO', 'AHMSA', 'LAB', 'SPORT', 'SAVIA', 'LASEG'}
investor2 = {'CMOCTEZ', 'BEVIDES', 'OMA', 'GNP', 'AGRIEXP', 'SPORT', 'TRAXION', 'GENTERA', 'COLLADO', 'LAMOSA'}
investor3 = {'FEMSA', 'ALSEA', 'BIMBO', 'ELEMENT', 'FINAMEX', 'GCC', 'VISTA', 'GEO', 'IENOVA', 'OMA', 'CADU', 'ANB', 'AUTLAN', 'GICSA', 'GFNORTE', 'IDEAL', 'MEXCHEM', 'ELEKTRA', 'SITES', 'CABLE'}
investor4 = {'GENTERA', 'BOLSA', 'VISTA', 'TEAK', 'ACCELSA', 'CUERVO', 'TEKCHEM', 'QBINDUS', 'MEDICA', 'URBI', 'CIE', 'NEMAK', 'KIMBER', 'GPH', 'GMD', 'ACTINVR', 'GAP', 'JAVER', 'INGEAL', 'ARA'}

In [81]:
# Acciones en conjunto
acciones_en_conjunto = investor1 | investor2 | investor3 | investor4
print(acciones_en_conjunto)

#Acciones en común de los inversores 1, 3 y 4
acciones_en_comun = investor1 & investor3 & investor4
print(acciones_en_comun)

{'ELEMENT', 'COLLADO', 'FEMSA', 'CABLE', 'ARA', 'VISTA', 'OMA', 'NEMAK', 'GICSA', 'SPORT', 'ACTINVR', 'MEXCHEM', 'ANB', 'TEAK', 'LAB', 'GEO', 'SITES', 'CHDRAUI', 'SAVIA', 'GENTERA', 'HOTEL', 'IENOVA', 'ALPEK', 'BEVIDES', 'AGRIEXP', 'INGEAL', 'CADU', 'CIE', 'GCC', 'MFRISCO', 'QBINDUS', 'TRAXION', 'BIMBO', 'URBI', 'LASEG', 'FINAMEX', 'LAMOSA', 'ALSEA', 'AUTLAN', 'GMD', 'MEDICA', 'JAVER', 'CUERVO', 'GPH', 'AHMSA', 'IDEAL', 'GAP', 'TEKCHEM', 'KIMBER', 'ELEKTRA', 'BOLSA', 'ACCELSA', 'CMOCTEZ', 'GFNORTE', 'GNP'}
{'VISTA'}