<a href="https://colab.research.google.com/github/vbatiz/intro-python/blob/main/notebooks/IntroPython_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Práctica con la biblioteca Pandas

Para profundizar en esta biblioteca se puede visitar el sitio oficial dando clic [aquí](https://pandas.pydata.org/).

In [ ]:
import pandas as pd

## Cargando el dataset
Utilizaremos el dataset de la información del Titanic.

In [ ]:
!wget --no-check-certificate https://catalabs.mx/datasets/titanic.csv -O titanic.csv

Creamos el dataframe a partir del archivo.

In [ ]:
df_titanic = pd.read_csv('titanic.csv')

In [ ]:
df_titanic.head()

Creamos un nuevo dataframe con las columnas Name, Sex y Age.

In [ ]:
df_nombre_sexo_edad = df_titanic[["Name","Sex","Age"]]

In [ ]:
df_nombre_sexo_edad.head(100)

In [ ]:
print(df_nombre_sexo_edad.Name[1])

In [ ]:
df_nombre_sexo_edad.shape

Eliminamos los renglones en los cuales el campo de edad (Age) sea nulo.

In [ ]:
df_nombre_sexo_edad = df_nombre_sexo_edad.dropna()

In [ ]:
df_nombre_sexo_edad.shape

Obtenemos un subconjunto de los datos que solo contenga a los menores de 10 años.

In [ ]:
menores_de_10 = df_nombre_sexo_edad[df_nombre_sexo_edad["Age"] < 10]

In [ ]:
menores_de_10.head(20)

### Determinar sobrevivientes por Clase

In [ ]:
#Obtenemos el conjunto de datos de pasajeros en primera clase
primera_clase = df_titanic[df_titanic["Pclass"] == 1]

primera_clase.shape
total_primera_clase = primera_clase.shape[0]
print(total_primera_clase)
primera_clase_vivos = primera_clase[primera_clase["Survived"] > 0]
primera_clase_vivos.shape
total_primera_clase_vivos = primera_clase_vivos.shape[0]
print(total_primera_clase_vivos)
print(f"De {total_primera_clase} pasajeros en primera clase, sobrevivieron {total_primera_clase_vivos} \
que representan el {round(total_primera_clase_vivos/total_primera_clase*100,2)}%")

In [ ]:
#Obtenemos el conjunto de datos de pasajeros en tercera clase
tercera_clase = df_titanic[df_titanic["Pclass"] == 3]

tercera_clase.shape
total_tercera_clase = tercera_clase.shape[0]
print(total_tercera_clase)
tercera_clase_vivos = tercera_clase[tercera_clase["Survived"] > 0]
tercera_clase_vivos.shape
total_tercera_clase_vivos = tercera_clase_vivos.shape[0]
print(total_tercera_clase_vivos)
print(f"De {total_tercera_clase} pasajeros en tercera clase, sobrevivieron {total_tercera_clase_vivos} \
que representan el {round(total_tercera_clase_vivos/total_tercera_clase*100,2)}%")

Ahora visualizaremos los valores de edad distribuidos por clase y usaremos el dato de sobrevivencia para colorear cada valor. ¿Qué podemos observar?

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.scatterplot(x=df_titanic["Pclass"], y=df_titanic["Age"], hue = df_titanic["Survived"])